@font-face {
  font-family: "Univers";
  src: url("./fonts/Univers.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

#calculator {
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#buttonsContainer {
  display: grid;
  aspect-ratio: 4 / 6;
  max-width: 16em;
  row-gap: 4px;
  column-gap: 4px;
  grid-template-rows: repeat(6, minmax(0, 1fr));
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

#display {
  grid-row: 1 / 1;
  grid-column: 1 / 5;

  padding: 6px 8px;
  display: flex;
  border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #000;
  align-items: center;
  justify-content: end;
  font-family: "Courier New", Courier, monospace;
  font-size: 2rem;
  opacity: 60%;
}

#display > * {
  width: auto;
  height: auto;
  flex: 0 0 auto;
}

.button {
  font-family:
    "Univers",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Helvetica,
    Arial,
    sans-serif;
  font-size: 1.1em;
  display: flex;
  padding: 6px 8px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 10px;
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 2px;
  border: 1px solid #000;
}

.button:hover {
  opacity: 0.8;
  transform: translateY(-1px);
}

.plusButton {
  grid-row: 3 / 5;
  grid-column: 4 / 4;
}

.enterButton {
  grid-row: 5 / 7;
  grid-column: 4 / 4;
}

.zeroButton {
  grid-row: 6 / 6;
  grid-column: 1 / 3;
}
